<div class="container-fluid w-100 text-center cream">

  <div class="row">
    <div class="col-md-12">
      <img src="../assets/images/Fintech.png" class="w-100">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>Pronto para <em>conquistar</em> seus maiores <strong>sonhos</strong>?</p>

      <p>A <strong><em>FINTECH</em></strong> chegou para te auxiliar nessa jornada!</p>
    </div>
  </div>

  <div class="row footer">
    <div class="col-md-12">
        <button mat-flat-button class="avocado w-100" (click)="this.router.navigateByUrl('/cadastro')">Desejo criar uma conta</button>
        <button mat-flat-button class="avocado w-100" (click)="router.navigate(['/login'])">Já possuo uma conta</button>
    </div>
  </div>

</div>
